<launch>
  <master auto="start"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find simple_navigation_goals)/maps/map.yaml" />


  <!--- Run AMCL -->
  <include file="$(find simple_navigation_goals)/amcl_omni.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find simple_navigation_goals)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find simple_navigation_goals)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find simple_navigation_goals)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find simple_navigation_goals)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find simple_navigation_goals)/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
